body {
	font-family: 'PT Sans', sans-serif;
}

.left {
	float: left;
}

.right {
	float: right;
}

.cover {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

input, textarea, button {
	background: none;
	border: none;
	height: 100%;
	margin: 0;
	outline: none;
}

button {
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	font-size: 22px;
	padding: 0 10px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
	margin: 10px 0
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
	font-size: 16px;
}

textarea, code {
	font-family: 'Cousine', monospace;
}

main, aside, #note, header, #source, #preview, footer {
	position: fixed;
}

aside, main header, main section, main footer {
	background: #eaeaea;
}

aside h1, aside h2 {
	margin: 0;
}

aside h1 {
	padding: 2px 8px;
}

aside h2 {
	padding: 8px;
	background: #333333;
	color: #ffffff;
}

aside time {
	padding: 0 8px;
}

aside article, aside h2 {
	cursor: pointer;
}

aside article:hover {
	background: #e74c3c;
	color: #ffffff;
}

#note {
	display: none;
}

main {
	display: none;
}

body.open main {
	display: block;
}

body.open aside, body.open #note {
	display: none;
}

header {
	height: 50px !important;
}

header input {
	font-size: 28px;
	font-weight: bold;
	left: 0;
	padding: 0 10px;
	position: absolute;
	right: 0;
}

#source, #preview {
	bottom: 50px;
	left: 0;
	margin: 0 10px;
	right: 0;
	top: 60px;
}

#source {
	display: none;
	padding: 0 20px 20px 0;
}

#source textarea {
	font-size: 14px;
	padding: 10px;
	resize: none;
	width: 100%;
}

#preview {
	overflow-y: scroll;
	padding: 0 10px;
}

footer {
	background: #eaeaea;
	bottom: 0;
	height: 40px;
	left: 0;
	width: 100%;
}

main.edit #source {
	display: block;
}

main.edit #preview {
	display: none;
}

@media all and (min-width: 400px) {
	aside {
		width: 360px !important;
	}

	aside article, aside h2 {
		margin-bottom: 6px;
	}
}

@media all and (min-width: 800px) {
	aside h2 {
		padding: 4px 8px 2px 8px;
	}

	#note {
		display: block;
		height: 100%;
		left: 360px;
		overflow-y: scroll;
		padding: 0 16px;
		right: 0;
		top: 0;
	}

	#source {
		display: block;
		margin: 0 5px 0 10px;
		right: 50%;
	}

	#preview {
		display: block !important;
		left: 50%;
		margin: 0 10px 0 5px;
	}
}