@font-face {
	font-family: "Cousine";
	src: url("../font/Cousine.eot");
	src: url("../font/Cousine.eot?#iefix") format("embedded-opentype"),
	     url("../font/Cousine.svg#Cousine") format("svg"),
	     url("../font/Cousine.woff") format("woff"),
	     url("../font/Cousine.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSans.eot");
	src: url("../font/OpenSans.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSans.svg#OpenSans") format("svg"),
	     url("../font/OpenSans.woff") format("woff"),
	     url("../font/OpenSans.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSansItalic.eot");
	src: url("../font/OpenSansItalic.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSansItalic.svg#OpenSansItalic") format("svg"),
	     url("../font/OpenSansItalic.woff") format("woff"),
	     url("../font/OpenSansItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSansLight.eot");
	src: url("../font/OpenSansLight.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSansLight.svg#OpenSansLight") format("svg"),
	     url("../font/OpenSansLight.woff") format("woff"),
	     url("../font/OpenSansLight.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSansLightItalic.eot");
	src: url("../font/OpenSansLightItalic.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSansLightItalic.svg#OpenSansLightItalic") format("svg"),
	     url("../font/OpenSansLightItalic.woff") format("woff"),
	     url("../font/OpenSansLightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSansBold.eot");
	src: url("../font/OpenSansBold.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSansBold.svg#OpenSansBold") format("svg"),
	     url("../font/OpenSansBold.woff") format("woff"),
	     url("../font/OpenSansBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../font/OpenSansBoldItalic.eot");
	src: url("../font/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"),
	     url("../font/OpenSansBoldItalic.svg#OpenSansBoldItalic") format("svg"),
	     url("../font/OpenSansBoldItalic.woff") format("woff"),
	     url("../font/OpenSansBoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

body {
	background: #edece4;
	font-family: "Open Sans", sans-serif;
}

input, button {
	font-family: "Open Sans", sans-serif;
}

textarea, code {
	font-family: "Cousine", monospace;
}

code {
	white-space: pre;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol {
	margin: 8px 0 0 0;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p, li {
	font-size: 14px;
}

*:focus {
	outline: none;
}

button {
	background: #57A0EE;
	border: none;
	border-bottom: 1px solid #a7cdf6;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-size: 12px;
	margin: 6px 8px;
	padding: 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

button:active {
	border-bottom: none;
	margin-top: 7px;
}

aside {
	background: white;
	bottom: 40px;
	box-shadow: 0px 0px 5px 0px #dedcce;
	left: 16px;
	position: fixed;
	top: 16px;
	width: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

aside h1 {
	font-size: 18px;
	margin: 0;
}

aside h2 {
	color: #aaa9a2;
	font-size: 16px;
	font-weight: normal;
	left: 16px;
	margin: 0;
	padding: 10px 12px 8px 12px;
}

aside div {
	background: linear-gradient(rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.9));
	border-bottom: 1px solid #edece4;
	cursor: pointer;
	position: fixed;
	width: inherit;
}

aside article {
	cursor: pointer;
	padding: 8px 12px;
	border-left: 4px solid transparent;
}

aside article.open {
	border-left: 4px solid #222425;
}

aside article:nth-child(2) {
	margin-top: 41px;
}

aside time {
	color: #aaa9a2;
	font-size: 14px;
	font-weight: lighter;
}

#note {
	background: white;
	bottom: 40px;
	box-shadow: 0px 0px 5px 0px #dedcce;
	display: block;
	left: 420px;
	overflow: auto;
	padding: 10px 12px;
	position: absolute;
	right: 16px;
	top: 16px;
}

#note > :first-child, #preview > :first-child {
	margin-top: 0;
}

footer {
	background: #222425;
	bottom: 0;
	height: 40px;
	left: 0;
	position: fixed;
	right: 0;
}

#back {
	display: none;
}

#settings {
	background: none;
	cursor: pointer;
	float: right;
	margin: 0;
	padding: 8px 12px;
}

#menu {
	background: #222425;
	border-radius: 2px;
	bottom: 52px;
	color: white;
	display: none;
	margin: 0;
	padding: 8px;
	position: fixed;
	right: 10px;
}

#settings:focus ~ #menu, #menu:hover {
	display: inline-block;
}

#menu li {
	cursor: pointer;
	list-style: none;
	padding: 0 8px;
}

#menu .arrow {
	border: 8px solid transparent;
	border-top-color: #222425;
	bottom: -16px;
	position: absolute;
	padding: 0;
	right: 7px;
}

header {
	background: white;
	box-shadow: 0px 0px 5px 0px #dedcce;
	left: 16px;
	padding: 0 10px;
	position: fixed;
	right: 16px;
	top: 16px;
}

header input {
	border: none;
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	padding: 4px 0;
	width: 100%;
}

#source {
	background: white;
	bottom: 40px;
	box-shadow: 0px 0px 5px 0px #dedcce;
	left: 16px;
	margin: 0 22px 20px 0;
	position: fixed;
	right: 50%;
	top: 66px;
}

#source textarea {
	border: none;
	font-size: 13px;
	height: 100%;
	margin: 0;
	padding: 10px;
	resize: none;
	width: 100%;
}

#preview {
	background: white;
	bottom: 40px;
	box-shadow: 0px 0px 5px 0px #dedcce;
	left: 50%;
	margin-left: 2px;
	overflow: auto;
	padding: 10px 12px;
	position: fixed;
	right: 16px;
	top: 66px;
}

header, #source, #preview {
	display: none;
}

.edit aside, .edit #note, .edit #edit {
	display: none;
}

.edit header, .edit #source, .edit #preview {
	display: block;
}

.edit #back {
	display: inline-block;
}

@media all and (max-width: 1200px) {
	aside {
		width: 350px;
	}

	#note {
		left: 370px;
	}
}

@media all and (max-width: 1000px) {
	aside {
		width: 300px;
	}

	#note {
		left: 320px;
	}
}

@media all and (max-width: 800px) {
	aside {
		right: 16px;
		width: auto;
	}

	aside div {
		left: 16px;
		right: 16px;
	}

	aside article.open {
		border-left: 4px solid transparent;
	}

	#note {
		display: none;
	}

	.open aside {
		display: none;
	}

	.open #note {
		display: block;
		left: 16px;
	}

	.open #edit {
		display: none;
	}

	.open #back {
		display: inline-block;
	}

	#source {
		margin: 0 20px 20px 0;
		right: 16px;
	}

	.edit #preview {
		display: none;
	}
}

@media all and (max-width: 500px) {
	aside {
		left: 0;
		right: 0;
		top: 0;
	}

	aside div {
		left: 0;
		right: 0;
	}

	.open #note {
		left: 0;
		right: 0;
		top: 0;
	}
}